{{define "audio"}}<!DOCTYPE html>

<html lang="en">
	<head>
		<title>One in Ten - audio</title>
{{template "head" $}}
	</head>
	<body>
	<body id="page1">
		<div class="extra">
			<header>
				<div class="main">
					<div class="bg-1">
						<h1><a href="/">Rock Band</a></h1>
					</div>
{{template "nav" $}}
				</div>
			</header>
<!--==============================content================================-->
			<section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
				<div class="main">
					<div class="content-padding-2">
						<div class="container_12">
							<div class="wrapper">
								<div class="grid_12">
									<div class="padding-grid-1">
										<h3 class="letter">Our <strong>Discography</strong></h3>
									</div>
									{{$albums := (query `select a.album_id, to_char(a.date, 'YYYY') as year, a.title, a.best_album_mix_id, m.mix_name from album a, album_mix m where a.best_album_mix_id = m.album_mix_id order by a.year desc`)}}
									{{range $i, $album := $albums}}
									<div class="wrapper p3">
										<article class="grid_4 alpha">
											<div class="padding-grid-2">
												<div class="wrapper">
													<figure class="style-img-2 fleft"><a href="#"><img src="{{$.Static}}/images/page2-img1.jpg" alt=""></a></figure>
												</div>
											</div>
										</article>
										<article class="grid_8 alpha">
											<div class="padding-grid-2">
												<h4 class="margin-none indent-top1"><strong>{{$album.year}}.</strong>  {{$album.title}}{{with $album.mix_name}} (mix {{.}}){{end}}</h4>
												<p class="prev-indent-bot">Lorem ipsum dolor consctetur adipisicing elitdo eusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
												<div class="wrapper">
												{{$songs := (query `select to_char(track, '00') as track, title, href from song where album_mix_id = $1` $album.best_album_mix_id)}}
													<ul class="list-1 fleft">
													{{range $songs}}
														<li><a href="{{.href}}">{{.track}}. {{.title}}</a></li>
													{{end}}
													</ul>
													<ul class="list-2 fright">
													{{range $songs}}
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
													{{end}}
													</ul>
												</div>
											</div>
										</article>
									</div>
									{{end}}
									<div class="wrapper">
										<article class="grid_4 alpha">
											<div class="padding-grid-2">
												<div class="wrapper">
													<figure class="style-img-2 fleft"><a href="#"><img src="images/page2-img3.jpg"  alt=""></a></figure>
												</div>
											</div>
										</article>
										<article class="grid_8 alpha">
											<div class="padding-grid-2">
												<h4 class="margin-none indent-top1"><strong>2010. </strong>Rock &amp; Roll</h4>
												<p class="prev-indent-bot">Lorem ipsum dolor consctetur adipisicing elitdo eusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
												<div class="wrapper">
													<ul class="list-1 fleft">
														<li><a href="#">01. Duis aute irure dolor</a></li>
														<li><a href="#">02. In reprehenderit in voluptate</a></li>
														<li><a href="#">03. Velit esse cillum dolore</a></li>
														<li><a href="#">04. Eu fugiat nulla pariatur</a></li>
														<li><a href="#">05. Excepteur sint occaecat</a></li>
														<li><a href="#">06. Cupidatat non</a></li>
														<li><a href="#">07. Proident sunt in</a></li>
														<li><a href="#">08. Culpa qui officia deserunt mollit</a></li>
														<li><a href="#">09. Anim id est laborum</a></li>
														<li><a href="#">10. At vero eos et accusamus</a></li>
														<li><a href="#">11. Et iusto odio dignissimos</a></li>
													</ul>
													<ul class="list-2 fright">
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
														<li><span><a class="left-list" href="#"></a></span><a class="right-list" href="#"></a></li>
													</ul>
												</div>
											</div>
										</article>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="block"></div>
			</section>
		</div>
{{template "footer" $}}
	</body>
</html>
{{end}}