{{define "dates"}}<!DOCTYPE html>

<html lang="en">
  <head>
    <title>One in Ten - audio</title>
{{template "head" $}}
  </head>
  <body>
  <body id="page1">
    <div class="extra">
      <header>
        <div class="main">
{{template "top" $}}
{{template "nav" $}}
        </div>
      </header>
<!--==============================content================================-->
{{/*
  $rsp := (fetch `https://graph.facebook.com/v2.9/OneInTenBand/events?access_token=280016349127894|eUaDof1f47j6uoTn_tgMsIE5B58`)
*/}}
{{$rsp := (openFileJSON `fb_events.json`)}}
{{$events := $rsp.data}}
      <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
        <div class="main">
          <div class="content-padding-2">
            <div class="container_12">
              <div class="wrapper">
                <div class="grid_8">
                  <div class="padding-grid-1">
                    <h3>Upcoming <strong>Show Dates</strong></h3>
                  </div>
                  <div class="wrapper">
                  {{$dates := (upcoming $events)}}
                    <article class="grid_6 alpha">
                      <div class="padding-grid-1">
{{/*
    {
      "description": "One In Ten is excited to return to one of the best bars in the burbs!  We will be performing with Chicagoland's hottest Alice In Chains tribute band \"Chained\".  These dudes can play!",
      "end_time": "2017-09-17T01:00:00-0500",
      "name": "One In Ten W/Special Guest Chained",
      "place": {
        "name": "M T Barrels",
        "location": {
          "city": "Schaumburg",
          "country": "United States",
          "latitude": 42.0038439,
          "longitude": -88.122295,
          "state": "IL",
          "street": "1712 W Wise Rd",
          "zip": "60193"
        },
        "id": "530152613728124"
      },
      "start_time": "2017-09-16T21:00:00-0500",
      "id": "601472590062862"
    }
*/}}
                      {{range $i, $date := $dates}}{{$start_time := fb_time $date.start_time}}
                        <div class="wrapper{{if (lt $i (sub (len $dates) 1))}} img-indent-bot2{{end}}">
                          <time class="time time-stule-2" datetime="{{$date.start_time}}"> <strong class="text-3">{{day $start_time}}</strong><strong class="text-4">{{month $start_time}}</strong></time>
                          <div class="extra-wrap">
                            <h4 class="indent-top"><a href="https://www.facebook.com/events/{{$date.id}}/" target="_blank">{{$date.name}}</a></h4>
						   {{time $start_time}}
							{{if $date.place}}
								{{if $date.place.id}}
									at <a href="https://www.facebook.com/{{$date.place.id}}/" target="_blank">{{$date.place.name}}</a>
									in {{$date.place.location.city}}, {{$date.place.location.state}}
								{{else}}
									at {{$date.place.name}}
								{{end}}
							{{end}}
                          </div>
                        </div>
                      {{else}}
                        <div class="wrapper img-indent-bot2">
                          <div class="extra-wrap">
                            Sorry; no upcoming shows scheduled yet. Stay tuned!
                          </div>
                        </div>
                      {{end}}
                      </div>
                    </article>
                    <article class="grid_6 omega">
                      <div class="padding-grid-4">
                      {{range $i, $date := $dates}}
                        <div class="{{if (lt $i (sub (len $dates) 1))}}margin-bot1{{end}}"><!--
                          <span class="text-width">Tickets:</span> <span class="inline"><a class="link" href="#">http://demolink.org/Okedo</a></span>
                          <span class="text-width">Telephone:</span>  <span class="color-1 inline">+1 959 603 6035</span>
                        --></div>
                      {{end}}
                      </div>
                    </article>
                  </div>
                  <div class="padding-grid-1">
                    <h3>Past <strong>Show Dates</strong></h3>
                  </div>
                  <div class="wrapper">
                  {{$dates := (past $events)}}
                    <article class="grid_6 alpha">
                      <div class="padding-grid-1">
                      {{range $i, $date := $dates}}{{$start_time := fb_time $date.start_time}}
                        <div class="wrapper{{if (lt $i (sub (len $dates) 1))}} img-indent-bot2{{end}}">
                          <time class="time time-stule-2" datetime="{{$date.start_time}}"> <strong class="text-3">{{day $start_time}}</strong><strong class="text-4">{{month $start_time}}</strong></time>
                          <div class="extra-wrap">
                            <h4 class="indent-top"><a href="https://www.facebook.com/events/{{$date.id}}/" target="_blank">{{$date.name}}</a></h4>
						   {{time $start_time}}
							{{if $date.place}}
								{{if $date.place.id}}
									at <a href="https://www.facebook.com/{{$date.place.id}}/" target="_blank">{{$date.place.name}}</a>
									in {{$date.place.location.city}}, {{$date.place.location.state}}
								{{else}}
									at {{$date.place.name}}
								{{end}}
							{{end}}
                          </div>
                        </div>
                      {{else}}
                        <div class="wrapper img-indent-bot2">
                          <div class="extra-wrap">
                            No recent past shows found.
                          </div>
                        </div>
                      {{end}}
                      </div>
                    </article>
                    <article class="grid_6 omega">
                      <div class="padding-grid-4">
                      {{range $i, $date := $dates}}
                        <div class="{{if (lt $i (sub (len $dates) 1))}}margin-bot1{{end}}"><!--
                          <span class="text-width">Tickets:</span> <span class="inline"><a class="link" href="#">http://demolink.org/Okedo</a></span>
                          <span class="text-width">Telephone:</span>  <span class="color-1 inline">+1 959 603 6035</span>
                        --></div>
                      {{end}}
                      </div>
                    </article>
                  </div>
                </div>
<!--
                <article class="grid_6 alpha">
                  <div class="padding-grid-3">
                    <h3>Past <strong>Tours</strong></h3>
                    <ul class="list-3">
                      <li><a href="#">Lorem ipsum dolor consctetur</a></li>
                      <li><a href="#">Adipisicing eusmod tempor incididunt</a></li>
                      <li><a href="#">Dolore magna aliqua enim ad minim</a></li>
                      <li><a href="#">Quis nostrud exercitation ullamco laboris</a></li>
                      <li><a href="#">Nisi ut aliquip ex ea commodo</a></li>
                      <li><a href="#">Duis aute irure dolor in reprehenderit</a></li>
                      <li><a href="#">Coluptate velit esse cillum</a></li>
                      <li><a href="#">Dolore eu fugiat nulla pariatur</a></li>
                      <li><a href="#">Excepteur sint occaecat cupidatat</a></li>
                      <li><a href="#">Sunt in culpa qui officia</a></li>
                      <li><a href="#">Deserunt mollit anim id est laborum</a></li>
                    </ul>
                  </div>
                </article>
-->
              </div>
            </div>
          </div>
        </div>
        <div class="block"></div>
      </section>
    </div>
{{template "footer" $}}
  </body>
</html>
{{end}}
