{{define "index"}}<!DOCTYPE html>

<html lang="en">
<head>
  <title>One in Ten</title>
{{template "head" $}}
  <script type="text/javascript">
    $(window).load(function(){
      $('.slider')._TMS({
        duration:800,
        easing:'easeOutQuad',
        preset:'diagonalFade',
        pagination:false,
        slideshow:6000,
        banners:false,
        waitBannerAnimation:false,
        pauseOnHover:true
      });
      $("a[data-gal^='prettyVideo']").prettyPhoto({animation_speed:'normal',theme:'facebook',slideshow:false, autoplay_slideshow: false});
    });
  </script>
</head>
<body id="page1">
  <div class="extra">
    <header>
      <div class="main">
{{template "top" $}}
{{template "nav" $}}
        <div style="width: 960px; height: 540px; padding: 0; background: none;">
              <iframe width="960" height="540" src="https://www.youtube.com/embed/videoseries?list=PLx2neTaEe6yEg7TJ2CyU4x0XUU-1QhNsp&autoplay=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </header>
    <section id="content"><div class="ic">More Website Templates @ TemplateMonster.com. November 21, 2011!</div>
      <div class="main">
        <div class="bg-2">
          <div class="content-padding-1">
            <div class="container_12">
              <div class="wrapper">
                <article class="grid_4">
                  <div class="padding-grid-1">
                    <h3 class="letter">About <strong>Us</strong></h3>
                    <div class="wrapper img-indent-bot1">
                      <div class="extra-wrap">
                        <div class="indent-top">
                          One in Ten has quickly become one of Chicagoland's
                          hottest 90's and 2000's alternative cover bands to
                          hit the scene. They captivate their audiences with
                          their fun and entertaining live shows, playing
                          favorite songs from popular artists of the time.
                          They blend their musical talent with great live
                          energy and comedic humor from their lead singer
                          Matt Glaz. They round out their roster with a very
                          talented Jim Dunne on lead guitar, Adam Sulejmani
                          on the bass and last but not least their amazingly
                          consistent drummer Matt Bremer. Combined, this band
                          has over 50 years of musical experience and many
                          live performances under their belt across the
                          Chicagoland and Midwest. Come see why these guys
                          are one of Chicago's premier cover bands and why
                          people come back to see them show after show.
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
                <article class="grid_4 alpha">
                  <div class="padding-grid-1">
                    <h3>Show <strong>Dates</strong></h3>
{{/*
  $rsp := (fetch `https://graph.facebook.com/v2.9/OneInTenBand/events?access_token=280016349127894|eUaDof1f47j6uoTn_tgMsIE5B58`)
*/}}
{{$rsp := (openFileJSON `fb_events.json`)}}
{{$events := $rsp.data}}
                  {{range $i, $date := (upcoming $events)}}
                    <div class="wrapper img-indent-bot2">
					{{$start_time := fb_time $date.start_time}}
					<time class="time time-stule-2" datetime="{{$date.start_time}}"> <strong class="text-3">{{day $start_time}}</strong><strong class="text-4">{{month $start_time}}</strong></time>
                          <div class="extra-wrap">
                            <h4 class="indent-top"><a href="https://www.facebook.com/events/{{$date.id}}/" target="_blank">{{$date.name}}</a></h4>
						   {{time $start_time}}
							{{if $date.place}}
								{{if $date.place.id}}
									at <a href="https://www.facebook.com/{{$date.place.id}}/" target="_blank">{{$date.place.name}}</a>
									in {{$date.place.location.city}}, {{$date.place.location.state}}
								{{else}}
									at {{$date.place.name}}
								{{end}}
							{{end}}
                          </div>
                    </div>
                  {{else}}
                    <div class="wrapper img-indent-bot2">
                      <div class="extra-wrap">
                        Sorry; no upcoming shows scheduled yet. Stay tuned!
                      </div>
                    </div>
                  {{end}}
                  </div>
                </article>
                <article class="grid_4 alpha">
                  <div class="padding-grid-2">
                    <h3 class="letter">Latest <strong>Recordings</strong></h3>
                    <div class="wrapper">
                      <figure class="style-img fleft"><a href="/audio"><img src="{{$.Static}}/images/page1-img1.jpg"  alt=""></a></figure>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="block"></div>
    </section>
  </div>
{{template "footer"}}
</body>
</html>
{{end}}
